@import "../../../../theme/theme-variables";

.ey-navbar-upper {
  background-color: $gray-dark;
  padding: 8px 0px;
  border-bottom: 1px solid $gray-border;
  span,
  a {
    font-size: 14px;
    line-height: 18px;
    color: $white;
    &:hover,
    &:active {
      color: $white;
    }
  }
}

.ey-logo {
  padding: 10px 10px;
  height: 60px;
  max-height: 60px;
}

.ey-navbar-lower {
  background-color: $gray-dark;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9998;
  height: 60px;
  .ui-g > * {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  span {
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: underline;
    i {
      padding: 0px 5px;
      font-size: 18px;
    }
  }
}

.ey-breadcrumb-wrapper {
  background-color: $black;
}
