.checkbox-Cust {
  * {
    vertical-align: middle;
  }
  label {
    display: inline-block;
  }
  p-checkbox {
    margin-top: -8px;
    display: inline-block;
    margin-right: 14px !important;
  }
  .checkbox-Cust2 {
    padding-left: 53px;
    p-checkbox {
      margin-bottom: 15px;
    }
    label {
      vertical-align: middle;
      display: inline-block;
    }
    t .ui-chkbox {
      margin-top: -7px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.sideCheck {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
