<div class="header">
    <div class="button">
        <button class="loginbutton" id="adminLoginButton" [routerLink]="['admin']">Admin Login</button>
    </div>
    <app-header></app-header>

</div>

<body>
    <div>
        <label>
            <h1>Enter Email Id To see booking History</h1>
        </label>
        <input type="text" />
        <button>Search</button>
    </div>
    <br><br><br>

    <div class="historyContainer">

        <div class="ticket">
          <div class="lines">
            PNR Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:122334455
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Bhubaneswar &nbsp;&nbsp;-->&nbsp;&nbsp;Hyderabad
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Ticket Status: &nbsp;&nbsp;&nbsp;Active
          </div>
          <div class="lines">
            Flight Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:122334455
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Arrival Time &nbsp;&nbsp;-->04:30
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Departure Time &nbsp;&nbsp;-->04:30
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            
          </div>
        </div>
        <div class="separator"></div>
    </div>

</body>