<div class="header">
    <div class="button">
        <button class="loginbutton" id="adminLoginButton" [routerLink]="['admin']">Admin Login</button>
    </div>
    <app-header></app-header>

</div>

<body>
    <div>
        <label>
            <h1>Enter Email Id To see booking History</h1>
        </label>
        <input type="text" />
        <button>Search</button>
    </div>
    <br><br><br>

    <div class="historyContainer" *ngFor="let ticket of tickets">

        <div class="ticket">
          <div class="lines">
            PNR Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{ticket.pnrNumber}}  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            {{ticket.from}} &nbsp;&nbsp;-->&nbsp;&nbsp;{{ticket.to}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Ticket Status: &nbsp;&nbsp;&nbsp;{{ticket.status}}
          </div>
          <div class="lines">
            Flight Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{ticket.flightNumber}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Arrival Time &nbsp;&nbsp;-->{{ticket.arrivalTime}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Departure Time &nbsp;&nbsp;-->{{ticket.departureTime}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            
          </div>
        </div>
        <div class="separator"></div>
    </div>

</body>