<div class="header">
    <div class="button">
        <button class="loginbutton" id="adminLoginButton" [routerLink]="['admin']">Admin Login</button>
    </div>
    <app-header></app-header>

</div>


<div class="bodyContent">

    <div class="paragraph">Book Domestic and International Flight Tickets</div>

    <div class="searchMain">
        <form [formGroup]="searchForm" (ngSubmit)="searchFlights()">

            <div class="searchPlace">
                <label>FROM</label>
                <select class="dropDown" formControlName="from">
                    <option class="dropDownOption" value="{{place}}" *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
            <div class="searchPlace">
                <label>TO</label>
                <select class="dropDown" formControlName="to">
                    <option class="dropDownOption" value="{{place}}" *ngFor="let place of places">{{place}}</option>
                </select>
            </div>
            <div class="search">
                <label>Departure Date</label>
                <input class="inputForm" onfocus="(this.type='date')"  formControlName="fromDate"/>
            </div>
            <div class="search">
                <label>Return Date</label>
                <input class="inputForm" onfocus="(this.type='date')"  formControlName="toDate" />
            </div>
            <div class="searchButtonContainer">
                <button class="searchButton" [disabled]="searchForm.invalid" [ngStyle]="{'background-color': searchForm.invalid==true? 'gray' : 'rgb(95, 106, 172)'}">Search</button>
            </div>
        </form>
    </div>

    <div class="offerContainer">
        <div class="offer1">

        </div>
        <div class="offer2">

        </div>
        <div class="offer3">

        </div>
    </div>




</div>
<div class="footer">
    <app-footer></app-footer>
</div>