.mobile-code {
  display: block;
  padding: 6.9px 3px;
  font-size: 14px;
  color: gray !important;
  box-shadow: none !important;
  outline: none;
  background-color: #ccc !important;
  font-style: italic !important;
  line-height: 18px;
  position: absolute;
  right: 1.3px;
  top: 1px;
}
.pos-relative {
  position: relative;
}

.scroll-wrapper {
  max-height: 500px;
  overflow: scroll;
}
