@import "../../../../theme/theme-variables";
.ey-navpill {
  all: unset;
  box-sizing: border-box;
  padding: 20px 15px;
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  color: $gray-tint2;
  height: 60px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: $gray-dark;
  box-shadow: inset 0px -5px 0px $gray-dark;
  letter-spacing: 1px;
  cursor: pointer;
  &.active {
    background-color: #1a1a25;
    box-shadow: inset 0px -5px 0px $yellow;
    color: $white;
  }
  &:hover {
    color: $white;
  }
}

.text-muted {
  color: #747480 !important;
}
