<div class="header">
    
    <app-admin-header></app-admin-header>   
</div>
<div class="bodyContent">
        <div class="pageheader">
            <h1>Schedule Flights Here</h1>
        </div>
        <div class="schedulingContainer">
                <div class="schedueFormPageContainer">
                    <form [formGroup]="schedulerForm" (ngSubmit)="saveSchedule()">
                        <div>
                            <label>Select Airline</label>
                            <select style="width: 100px;" id="cars" name="cars" formControlName="airlineId" >
                                <option (click)="getFligtsById(airline.id)" *ngFor="let airline of airlines" value="{{airline.id}}">{{airline.airlineName}}</option>
                            </select>
                        </div>
                        <div>
                            <label>Select Flight Nmber</label>
                            <select style="width: 100px;" id="cars" name="cars" formControlName="flightId" >
                                <option *ngFor="let flight of aeroplane" value="{{flight.flightId}}">{{flight.aeroplaneNumber}}</option>
                            </select>
                        </div>
                        <div>
                            <label>From Place</label>
                            <input type="text" formControlName="fromPlace"/>
                        </div>
                        <div>
                            <label>To Place</label>
                            <input type="text" formControlName="toPlace"/>
                        </div>
                        <div>
                            <label>Select Departure Time</label>
                            <input type="text" formControlName="departureTime"/>
                        </div>
                        <div>
                            <label>Select Arrival Time</label>
                            <input type="text" formControlName="arrivalTime"/>
                        </div>
                        <div>
                            <label>Business Ticket Cost</label>
                            <input type="text" formControlName="businessTicketCost"/>
                        </div>
                        <div>
                            <label> Economy Ticket Cost</label>
                            <input type="text" formControlName="economyTicketCost"/>
                        </div>
                        <br>
                        <div>
                            <label>Select Days</label>
                        </div>
                        <div>
                            <ul formControlName="availableDays">
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="S" formControlName="s" >
                                    <label for="vehicle1"> Sunday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="M" formControlName="m">
                                    <label for="vehicle1"> Monday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="T" formControlName="t">
                                    <label for="vehicle1"> Tuesday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="W" formControlName="w">
                                    <label for="vehicle1"> Wednesday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="TH" formControlName="th">
                                    <label for="vehicle1"> Thursday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="F" formControlName="f">
                                    <label for="vehicle1"> Friday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="ST" formControlName="st">
                                    <label for="vehicle1"> Saturday</label><br>
                                </li>
                                
                            </ul>
                        </div>
                        <div>
                            <input type="submit"  value="Save Schedule" [disabled]="schedulerForm.invalid" style="width: 150px;height: 50px;" />
                        </div>

                    </form>
                </div>
                <div class="scheduleViewPage"  [ngStyle]="{'display': hide? 'none' : 'inline-block'}">
                    <form [formGroup]="editSchedulerForm" (ngSubmit)="updateSchedulerDetails()" >
                        <div>
                            <h1> Edit Schedule Details Here</h1>
                        </div>
                       
                        <div>
                            <label>From Place</label>
                            <input type="text" formControlName="fromPlace" value="{{editScheduler.fromPlace}}"/>
                        </div>
                        <div>
                            <label>To Place</label>
                            <input type="text" formControlName="toPlace" value="{{editScheduler.toPlace}}"/>
                        </div>
                        <div>
                            <label>Select Departure Time</label>
                            <input type="text" formControlName="departureTime" value="{{editScheduler.departureTime}}"/>
                        </div>
                        <div>
                            <label>Select Arrival Time</label>
                            <input type="text" formControlName="arrivalTime" value="{{editScheduler.arrivalTime}}"/>
                        </div>
                        <div>
                            <label>Business Ticket Cost</label>
                            <input type="text" formControlName="businessTicketCost" value="{{editScheduler.businessTicketCost}}"/>
                        </div>
                        <div>
                            <label> Economy Ticket Cost</label>
                            <input type="text" formControlName="economyTicketCost" value="{{editScheduler.economyTicketCost}}"/>
                        </div>
                        <br>
                        <div>
                            <label>Select Days</label>
                        </div>
                        <div>
                            <ul formControlName="availableDays">
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.s}}" formControlName="s" ng-model="checked"/>
                                    <label for="vehicle1"> Sunday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.m}}" formControlName="m" />
                                    <label for="vehicle1"> Monday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.t}}" formControlName="t" />
                                    <label for="vehicle1"> Tuesday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.w}}" formControlName="w" />
                                    <label for="vehicle1"> Wednesday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.th}}" formControlName="th" />
                                    <label for="vehicle1"> Thursday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.f}}" formControlName="f" />
                                    <label for="vehicle1"> Friday</label><br>
                                </li>
                                <li style="display: inline-block;">
                                    <input type="checkbox" id="vehicle1" value="{{editScheduler.st}}" formControlName="st" />
                                    <label for="vehicle1"> Saturday</label><br>
                                </li>
                                
                            </ul>
                        </div>
                        <div>
                            <input type="submit" value="Update Schedule"  style="width: 150px;height: 50px;" [disabled]="editSchedulerForm.invalid"/> 
                        </div>

                    </form>
                </div>

                <div class="separator"></div>

                <div class="nameContainer">
                    <div style="position: relative;width: 100%;height: 50px;">
                       
                       <label>Select Airline Name to See scheduling Details</label>
                       <select style="width: 100px;" id="cars" name="cars" formControlName="flightNumber" >
                         <option *ngFor="let airline of airlines" (click)="getSchedulesByAirlineId(airline.id)"  value="{{airline.id}}">{{airline.airlineName}}</option>
                       </select>

                    </div>
                    
                    <div *ngFor="let schedule of scheduler" style="position: relative;width:100%;height: 10%;border: 1px solid rgb(184, 205, 250);">
                          <div class="schedules" >Logo</div>
                          <div class="schedules">{{schedule.fromPlace}}</div>
                          <div class="schedules">{{schedule.toPlace}}</div>
                          <div class="schedules">{{schedule.economyTicketCost}}</div>
                          <div class="schedules"><button (click)="viewScheduleById(schedule.id)">View Details</button></div>
                    </div>
                </div>
        </div>

</div>
<!--<div class="footer" >
    <app-footer></app-footer>
</div>-->