.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  padding: 10px;
  .page-counter {
    display: flex;
    width: 60%;
    line-height: 22px;
  }
  .page-actions {
    flex-direction: row-reverse;
    display: flex;
    width: 40%;
    justify-content: right;
    .page-size {
      display: flex;
      .form-control {
        padding: 4px 15px 4px 10px !important;
        height: 24px;
        background-size: 10px 6px;
        background-position: right 5px top 9px;
      }
    }
    .page-selector {
      order: 1;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      .page-number {
        all: unset;
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
      }
      .page-prev,
      .page-next {
        padding-left: 10px;
        padding-right: 10px;
        all: unset;
        color: #495057;
        &:hover {
          color: #000000;
        }
        &:disabled {
          color: #dee2e6;
        }
      }
    }
  }
}
