.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .gly {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .gly {
  left: 0px;
}
.right-addon .gly {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.right-addon .gly {
  right: 58em;
}
