<div class="header">
    <div class="button">
        <button class="logoutButton" id="adminLogOutButton" (click)="logOut()">Admin Log Out</button>
    </div>
 <app-header></app-header>   
</div>

<div class="bodyContent">
    <h1 class="bodyContentHeader">Available AirLines</h1>
    <br>
    <ul style="background-color: rgb(212, 225, 250);" >
        <li class="airlinesHeaderContainer">
            <div class="serialNo" >serial No</div>
            <div class="logo" >Logo</div>
            <div class="airlineName" >Airline Name</div>
            <div class="status" >Status</div>
            <div class="airlineView" >View</div>
        </li>
    </ul>   
 


</div>

<div class="footer">
    <app-footer></app-footer>
</div>