<div class="header">
    
    <app-admin-header></app-admin-header>   
</div>
<div class="bodyContent">
   <div class="airlineContainer">
      <div style="position: relative;height: 50%;">
         
             <div style=" text-align: center;display: inline-block;position: relative;width: 50%;height: 100%;">
                   <div style="position: relative;left: 60%;right: 40%;width: 15%;height: 100%;border: 1px solid black;border-radius: 10px;background-color: rgb(199, 40, 19);">
                   Logo
                   </div>
            </div>
            <div style="text-align: left;display: inline-block;position: relative;width: 50%;height: 100%;">
                <div style="position: relative;left: 0%;width: 100%;height: 100%;">
                    <input type="text" value={{airline.airlineName}} style="position: relative;width: 95%;height: 40%;top: 37%;font-size: 25px;"/> 
                </div> 
            </div>
        
      </div>
      <div style="position: relative;height: 50%;">    
            <div style="display: inline-block; position: relative;width: 50%;height: 100%;">
                <div style="display: inline-block;position: relative;vertical-align:top;text-align: center;width: 50%;height: 100%;font-size: 25px;">
                  Contact Number 
                </div> 
                <div style="display: inline-block;position: relative;width: 50%;height: 100%;">
                    <input type="number" value={{airline.contactNumber}} style="position: relative;width: 95%;height: 40%;font-size: 25px;"/> 
                </div>    
            </div>
            <div style="display: inline-block;position: relative;width: 50%;height: 100%;">
                <div style="display: inline-block;position: relative;width: 50%;height: 100%;font-size: 25px;">
                  Contact Address 
                </div> 
                <div style="display: inline-block;position: relative;width: 50%;height: 100%;">
                    <input type="text" value={{airline.contactAddress}} style="position: relative;width: 95%;height: 40%;font-size: 25px;"/> 
                </div>   
            </div>
      </div>
   </div>


   <div clas="middleDiv">
       <div style="display: inline-block;">
        <h1 >Available Aeroplanes</h1>
       </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <div style="display: inline-block;right: 0%;">
        <button (click)="blockAirline(airline.id)" style="width: 100px;height: 50px;background-color: cornflowerblue;color: white;">
            {{status}} Airline
        </button>
       </div>
      
       
       
   </div>

   <div class="aeroplaneContainer" >
       <div  *ngFor="let aeroplane of aeroplanes" style="position: relative;width: 100%;height: 21%; " >
            <div style="position: relative;width: 100%;height: 92%; "  >
                <div style="background-color:rgb(218, 235, 255);position: relative;width: 100%;height: 50%;">
                        <div style="display: inline-block;position: relative;height: 100%;width: 50%;">
                            flight Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value={{aeroplane.aeroplaneNumber}}/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Status&nbsp;&nbsp;:&nbsp;Active
                        </div>
                        <div style="display: inline-block;position: relative;height: 100%;width: 50%;">
                            No of Business Class Seats &nbsp;&nbsp;:&nbsp;<input type="number" value={{aeroplane.businessClassCount}} style="width: 10%;"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button style="width: 100px;height: 35px;background-color: cornflowerblue;color: white;">Deactivate</button>
                        </div>
                </div>
            <div style="background-color:rgb(218, 235, 255);position: relative;width: 100%;height: 50%;">
                        <div style="display: inline-block;position: relative;height: 100%;width: 50%;">
                            No of Economy class Seats &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value={{aeroplane.economyClassCount}} style="width: 100px;"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Start date &nbsp;&nbsp;:&nbsp;<input type="text" onfocus="(this.type='date')" value={{aeroplane.startDate}} style="width: 15%;"/>
                            </div>
                        <div style="display: inline-block;position: relative;height: 100%;width: 50%;">
                            End date &nbsp;&nbsp;:&nbsp;<input type="text" onfocus="(this.type='date')" valu= {{aeroplane.endDate|date:medium}}  style="width: 15%;"/>
                        </div>
                </div>
            
            </div>
            <div style="background-color:white;position: relative;width: 100%;height: 8%;"></div>
        </div>
       
   </div>

    
</div>
<div class="footer" >
    <app-footer></app-footer>
</div>