/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

.breadcrumb-ey {
  background-color: #f6f6fa;
  // padding: 8px 0;
}
.breadcrumb-ey ul {
  margin: 0;
  padding: 0;
}
.breadcrumb-ey ul li {
  position: relative;
  display: inline-block;
  color: $gray-dark;
  font-size: 14px;
  line-height: 14px;
  padding: 0 30px;
}
.breadcrumb-ey ul li a {
  color: $gray-dark;
}
.breadcrumb-ey ul li a:hover {
  text-decoration: underline;
  color: $gray-dark;
}
.breadcrumb-ey ul li:after {
  content: "\e932";
  position: absolute;
  right: -6px;
  top: -1px;
  font-size: 16px;
  line-height: 16px;
  color: $gray-dark;
  font-family: primeicons;
}
.breadcrumb-ey ul li:last-child:after {
  display: none;
}
.breadcrumb-ey ul li:first-child {
  padding-left: 0;
}
.breadcrumb-ey ul li:nth-child(2) {
  display: none;
}
.breadcrumb-ey ul li:last-child {
  padding-right: 0;
  color: $gray-dark;
  font-weight: 900;
}
