.name{
    text-align: start;
    font-size: 45px;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: italic;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
.logo{
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
.button{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: start;
    float: right;
    margin: 20px;
    color: white;

    
}
.loginbutton{
    width: 100px;
    height: 50px;
    background-color:white;
    position: relative;
    margin-top: 1px;
    
}