.cust-steps {
  text-align: center;
  .ui-steps {
    background-color: transparent;
    ul {
      max-width: 160px;
      margin: 0 auto;
      .ui-steps-item {
        &:first-child {
          &:before {
            display: none;
          }
          .ui-menuitem-link {
            .ui-steps-number {
              background-color: #ffe600 !important;
              z-index: 9;
            }
          }
        }
      }
    }
    .ui-steps-item {
      padding-left: 0;
      padding-right: 0;
      &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #cccccc;
        left: -17px;
        top: 69%;
      }
      .ui-menuitem-link {
        padding: 0 !important;
        overflow: inherit;
        .ui-steps-number {
          box-shadow: none !important;
          color: #2e2e38 !important;
          border: 0 !important;
          line-height: 28px;
          font-weight: 700;
          background-color: #cccccc !important;
        }
        .ui-steps-title {
          display: none !important;
        }
      }
      &.ui-steps-current,
      &.ui-state-complete {
        &:before {
          background-color: #ffe600 !important;
        }
        .ui-menuitem-link {
          .ui-steps-number {
            background-color: #ffe600 !important;
            z-index: 9;
          }
        }
      }
    }
  }
}
.two-cust-step {
  .ui-steps {
    ul {
      max-width: 107px;
    }
  }
}
.check {
  display: inline;
}
.custm-onbord-title {
  margin: 25px 0px 25px 100px !important;
  font-size: 20px;
}
.custm-onboard-label > label {
  position: absolute;
}
.cust-onbord-checkbox {
  margin: 0px 10px;
}
.custm-onbord-title1 {
  margin: 0px 25px !important;
  font-size: 20px;
}

.bg-gray {
  background-color: #efefef;
}
